body {
    background-image: url("bg1.jpg");
    background-size: 100%;
}

.clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #32fe17;
    font-size: 100px;
    font-family:'Orbitron';
    letter-spacing: 7px;
   


}
h1{color: bisque;
    font-family: 'Orbitron';
    text-align: center;
    letter-spacing: 7px;

}